@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #22c55e;        
  --color-primary-neon: #4ade80;    
  --color-primary-dark: #166534;   
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased font-sans;
  }
}

.neon-glow {
  box-shadow: 0 0 15px rgba(74, 222, 128, 0.4);
}

.custom-shadow {
  @apply shadow-[0_0_10px_rgba(74,222,128,0.2)]
}

.hover-shadow {
  @apply hover:shadow-[0_0_10px_rgba(74,222,128,0.2)]
}

.focus-shadow {
  @apply focus:shadow-[0_0_10px_rgba(74,222,128,0.2)]
}

.drop-shadow {
   @apply drop-shadow-[0_0_5px_rgba(74,222,128,0.5)]
}